<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <title>Please activate your account</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        font-family: 'Roboto', sans-serif;
      }
    </style>
  </head>
  <body style="width: 100%; padding: 20px 0; background: #f1f2f3">
    <div style="max-width: 460px; margin: 0 auto">
      <div
        style="padding: 20px; margin: 20px; display: grid; background: white"
      >
        <h2 style="word-break: break-all">Hi, #fullname#!</h2>
        <p style="margin-top: 10px">
          Please use the verification code below to activate your account.
        </p>
        <span
          style="
            padding: 10px 0;
            margin: 25px 0;
            text-align: center;
            letter-spacing: 1rem;
            font-weight: bold;
            color: white;
            background: #1f272e;
          "
        >
          <h2>#otp#</h2>
        </span>
        <p>If you did not request this, you can ignore this email.</p>
        <p style="margin-top: 20px; font-weight: bold">Thanks,</p>
        <p style="margin-top: 5px">The Spillgram Team</p>
      </div>
    </div>
  </body>
</html>
